body{
    background-color: rgb(146, 98, 64);
    
}

.small-card{
    width: 100%;
    height: 510px;
}

.blank-card{
    width: 100%;
    height: 630px;
}
.medium-card{
    width: 100%;
    height: 690px;
}
